- var txtMenu = 'Menü';

// in order to close sidenav when switching states containing sub-states use ng-click to toggle sidenav
navigation(ng-controller='SidenavCtrl', layout='row', class='brew__sidenav')
  md-sidenav(class='md-sidenav-right md-whiteframe-z2', md-component-id='right')
    md-toolbar(class='md-theme-indigo')
      p(class='md-toolbar-tools brew__sidenav__title brew__sidenav__title--open')
        | #{txtMenu}
    md-content(layout-padding)
      md-button(ng-click="toggleSidenav('right')", class='md-primary', aria-label='#{txtMenu} schliessen', title='#{txtMenu} schliessen')
        md-icon(md-svg-icon='arrow_forward')
      ul
        li
          a(href='home', ng-class="{active: isActive('/')}")
            | Startseite
        li
          a(href='login', ng-hide='isLoggedIn()', ng-class="{active: isActive('/login')}")
            | Login
        li
          a(href='#', ng-click='logout()', ng-show='isLoggedIn()')
            | Logout
        li
          a(href='settings', ng-show='isLoggedIn()', ng-class="{active: isActive('/settings')}")
            | Persönlicher Bereich
        li
          a(href='registration', ng-hide='isLoggedIn()', ng-class="{active: isActive('/registration')}")
            | Registrierung
        li
          a(href='admin', ng-click="toggleSidenav('right')", ng-if='isAdmin()', ng-class="{active: isActive('/admin')}")
            | Adminbereich
          ul
            li
              a(href='admin/products', ng-click="toggleSidenav('right')", ng-if='isAdmin()', ng-class="{active: isActive('/admin/products')}")
                | Produktliste
            li
              a(href='admin/products/create', ng-click="toggleSidenav('right')", ng-if='isAdmin()', ng-class="{active: isActive('/admin/products/create')}")
                | Produkt erfassen
            li
              a(href='admin/orders', ng-click="toggleSidenav('right')", ng-if='isAdmin()', ng-class="{active: isActive('/admin/orders')}")
                | Bestellungen
            li
              a(href='admin/users', ng-click="toggleSidenav('right')", ng-if='isAdmin()', ng-class="{active: isActive('/admin/users')}")
                | Benutzerliste
            li
              a(href='admin/users/create', ng-click="toggleSidenav('right')", ng-if='isAdmin()', ng-class="{active: isActive('/admin/users/create')}")
                | Benutzer erfassen

        li
          a(href='product', ng-class="{active: isActive('/product')}")
            | Produkte
        li
          a(href='test', ng-class="{active: isActive('/test')}")
            | Testseiten

  md-content
    div(layout='column', layout-align='top center')
      div
        md-button(ng-click="toggleSidenav('right')", class='md-primary', aria-label='#{txtMenu}', title='#{txtMenu}')
          md-icon(md-svg-icon='menu')
    div(flex)
